<!--增加文章页面-->
<h1 class="welcome-title">增加文章</h1>
<div class="container">
	<div class="row">
		<form class="navbar-form" action="addArticles" method="post">
			<div class="input-group col-lg-4 col-xs-6 col-xs-offset-2 user-info">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-star text-info"></span></span>
			  <input type="text" class="form-control" name="articleTitle" placeholder="请输入新增文章">
			</div>
			<div class="clearfix"></div>
			<div class="input-group col-lg-4 col-xs-6 col-xs-offset-2 user-info">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt text-info"></span></span>
			  <input type="text" class="form-control " name="articleDescribe" placeholder="文章描述">
			</div>
			<div class="clearfix"></div>
			<div class="input-group col-lg-4 col-xs-6 col-xs-offset-2 user-info">
			  <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt text-info"></span></span>
			  <input type="text" class="form-control " name="articleLink" placeholder="文章链接">
			</div>
			<div class="clearfix"></div>
			<div class="input-group col-lg-4 col-xs-6 col-xs-offset-2 user-info">
			<input type="text" id="articleLable" name="articleLable" placeholder="文章标签">
			<div class="dropdown">
			  <button id="tagName" class="dropdown-toggle" data-toggle="dropdown" name="articleLable">选择文章所属的标签<span class="caret"></span></button>
			  <ul class="dropdown-menu" role="menu">
			  <% for(var i in tags){ %>
			    <li class='tag'><a href="javascript:;"><%= tags[i].tagName %></a></li>
				<span class="tagsDescription hidden"><%= tags[i].tagDescription %></span>
			    <li class="divider"></li>
			  <% } %>
			  </ul>
			</div>
			<input type="textarea" id="description" name="description">

			<div class="clearfix"></div>

			<div class="col-lg-3 col-lg-offset-3">
				<button id="signup" class="btn">提交</button>
				<button id="reset" class="btn">重置</button>
			</div>
		</form>
	</div>
</div>
<script>
	window.onload=function(){
		var tagName=$('#tagName'),
			oLi=$('.dropdown-menu').find('.tag')
		$('#articleLable').hide()
		oLi.each(function(){
			$(this).click(function(value,index){
				tagName.text($(this).text())
				$('#description').val($(this).next().text())
				$('#articleLable').val($(this).next().text())
			})
		})
	}
</script>